<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="https://www.indiafilings.com/learn/wp-content/uploads/2024/11/What-is-E-Commerce-Business.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Welcome to Gura Hafi Yawe</h2>
    <h3>By Ange Pauline</h3>
    <a href="/smoothies" class="btn">View Different Products</a>
  </div>
</header>


<%- include('partials/footer'); -%>